@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap");
/*=====================================================
About style
=======================================================*/
.about-body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.about-page {
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .about-page .developer-profile {
    margin-bottom: 20px;
  }
}

.about-page .about-app {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}

.about-page .about-app .app-title {
  text-align: center;
}

.about-page .about-app .app-title p {
  font-size: 20px;
  margin-top: -10px;
}

.about-page .about-app .app-desc {
  text-align: center;
}

.about-page .about-app .app-desc p {
  font-size: 17px;
}

.about-page .about-developer {
  margin-top: 30px;
}

.about-page .about-developer .developer-profile {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 15px 20px 15px;
  border: 1px solid black;
  border-radius: 20px;
}

.about-page .about-developer .developer-profile .developer-badge {
  background-color: orange;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: -15px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
}

.about-page .about-developer .developer-profile .developer-photo {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.about-page .about-developer .developer-profile .developer-name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.about-page .about-developer .developer-profile .university {
  text-align: center;
  font-size: 16px;
  margin-top: -5px;
}

.about-page .about-developer .developer-profile .quote {
  font-family: "Passion One", cursive;
  font-size: 80px;
  color: orange;
  text-align: center;
  margin-bottom: -50px;
  margin-top: -10px;
}

.about-page .about-developer .developer-profile .developer-desc {
  text-align: center;
  font-size: 16px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: orangered;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  color: red;
}

body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

.uploadBtn {
  display: none;
}

.upload-btn-visible {
  display: block;
}

.navbar-line {
  background-color: #682666;
  height: 8px;
  width: 100%;
}

.navbar-light {
  background-color: white !important;
}

.navbar-light .nav-link, .navbar-light .navbar-brand {
  color: #682666 !important;
}

.mt-50-px {
  margin-top: 50px;
}

.btn-primary {
  background-color: #8f408c;
}

.btn-primary:hover, .btn-primary :checked {
  background-color: #682666;
}

.btn-primary:focus {
  background-color: #682677 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media only screen and (max-width: 576px) {
  .mt-50-px {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    margin-top: 100px;
    border-top: 1px solid #682666;
    padding-top: 30px;
  }
}

.sidebar .sidebar-title {
  padding-top: 3px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.sidebar .sidebar-title .line-sidebar-title {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3px;
  width: 15%;
  background-color: #682666;
}

.sidebar .sidebar-content {
  padding-bottom: 10px;
}

.sidebar .sidebar-content iframe {
  margin-top: 10px;
  width: 100%;
}

.sidebar .news-content {
  margin-top: 15px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar .news-content .news-title {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar .news-content .news-title a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.sidebar .news-content .news-title a:hover {
  color: #682666;
  font-weight: 500;
}

.sidebar .news-content .news-title:hover {
  color: #682666;
}

.sidebar .news-content .sidebar-divider {
  height: .2px;
  background-color: #8f408c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar .news-content .news-number {
  font-size: 20px;
}

.btn-outline-primary {
  color: #682666;
  border-color: #682666;
}

.btn-outline-primary:hover, .btn-outline-primary :active, .btn-outline-primary :checked, .btn-outline-primary :focus {
  background-color: #682666;
  color: white;
}

.btn-outline-primary:focus {
  border-color: #682666;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control {
  border-color: #c29bc1;
  color: #682666;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #682666;
}

.banner img {
  width: 100%;
  border-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .featured-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-image img {
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
}

.post .post-title-heading {
  font-size: 35px;
  font-weight: 400;
  width: 80%;
}

.post .author {
  margin-top: 10px;
  margin-bottom: 20px;
}

.post .author a {
  font-weight: bold;
}

.post table {
  margin-bottom: 5px;
}

.post .btn {
  padding: 0;
  padding: 0px 5px 0px 5px;
}

.post .btn-outline-info {
  color: #682666;
  border-color: #682666;
}

.post .btn-outline-info:hover {
  background-color: #682666;
  color: white;
}

.post .btn-outline-info:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.post p {
  margin-top: 20px;
  font-size: 16px;
}

.post .featured-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.post .featured-image img {
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.filter-search .pt-fs {
  padding-top: 20px;
}

.filter-search .filter-title {
  margin-bottom: 30px;
}

.filter-search .btn-primary {
  background-color: #682666;
}

.filter-search .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-search .mb-20-px {
  margin-bottom: 20px;
}

.bg-primary, .bg-gradient-primary {
  background-color: #682666;
  background-image: none;
}

.accordion .bg-gradient-primary {
  background-color: white !important;
}

.splide {
  max-width: 800px;
}

.splide .img-thumbnail-box, .splide .splide__slide {
  width: 250px;
  height: 200px;
}

.splide .img-thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#modal-thumbnail {
  max-width: 800px;
}

#modal-thumbnail .modal-body img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #682666;
}

.documentation-title {
  font-size: 20px;
  font-weight: 300;
}

.file-thumbnail {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 5px;
  display: block;
  overflow: hidden;
  font-size: 15px;
  background-color: #f8f9fa;
  text-decoration: none;
}

.file-thumbnail i {
  margin-top: 7px;
}

.latest-upload-wrap {
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0;
}

.pt-fs {
  padding-top: 20px;
}

.latest-upload-heading {
  margin-top: 20px;
  font-weight: bold;
}

.latest-upload {
  margin-top: 10px;
}

.latest-upload .post-thumbnail {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 5px 5px;
}

.latest-upload .author a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.latest-upload .author a:hover {
  color: #682666;
}

.latest-upload .info {
  margin-top: 10px;
  font-size: 12px;
}

.latest-upload .category {
  margin-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  color: orange;
  font-weight: bold;
  margin-bottom: -5px;
  display: block;
}

.latest-upload .title {
  font-size: 20px;
  font-weight: bold;
}

.latest-upload .content {
  text-align: left;
}

.latest-upload img {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .statistic #berita-harian, .statistic #berita-mingguan {
    max-width: 100%;
    max-height: 100%;
  }
}

.statistic #berita-harian, .statistic #berita-mingguan {
  max-width: 400px;
  max-height: 350px;
}

.line-footer {
  min-height: 20px;
  background-color: #8f408c;
  width: 100%;
  margin-top: 30px;
}

footer {
  background-color: #682666;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */